:root {
  --font1: 5rem;
  --fundoescuro: rgba(0, 0, 0, 0.934);
  --preto1: #000;
  --preto2: #222;
  --preto3: #333;
  --cinza1: #fff;
  --cinza2: #ddd;  
  --cinza3: #555;  
  --corteste: rgb(255, 0, 0);
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  background-color: #000;
  color: #fff;
  padding: 100px 150px 50px 150px;
  position: relative;
}
.contato img{
  position: absolute;
 top: -60px;
 left: 150px;
}
.p1{
  font-size: 1.5rem;
  color: #ddd;
  max-width: 40ch;
  padding-top: 70px;
}
.p2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}
footer {
padding-top: 50px;
align-self: end;
}