:root {
  --font1: 5rem;
  --fundoescuro: rgba(0, 0, 0, 0.934);
  --preto1: #000;
  --preto2: #222;
  --preto3: #333;
  --cinza1: #fff;
  --cinza2: #ddd;  
  --cinza3: #555;  
  --corteste: rgb(255, 0, 0);
}

.cabecalho img {
  max-width: 100%;
  height: auto;
  display: block;
}

.cabecalho {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 50px 150px 0px 150px;
  max-width: 1200px;
}
.cabecalho ul a {
  text-decoration: none;
  color: black;
}

.cabecalho ul {
  list-style: none;
  display: flex;
  font-size: 1.125rem;
  gap: 3rem;
  justify-content: right;
  margin-top: 1rem;
}