.formacao {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 3rem 13.4rem;
  margin-top: 100px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.934);
}
.formacao h1 {
  padding-left: 150px;
  grid-row: 1 / 3;
}
.formacaop {
  font-size: 1.5rem;
  max-width: 39ch;
  color: #555;
  margin-bottom: 3rem;
}

.diplomas {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem;
  margin-right: 150px;
}
.bateme {
  display: grid;
  gap: 1rem;
  list-style: none;
  color: #fff;
  background-color: black;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 4px;
  position: relative;
  height: 150px;
}
.bateme li:nth-child(odd) {
  color: #999;
  text-transform: uppercase;
}
.bateme li:nth-child(even) {
  font-weight: bold;
  max-width: 15ch;
  font-size: 1.2rem;
}
.bateme li:nth-child(even)::before {
  content: "";
  width: 4px;
  height: 20px;
  background-color: green;
  position: absolute;
  left: -4px;
}
.bateme li:last-child {
  margin-top: 2rem;
  align-self: end;
}
.cursos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  grid-column: 2;
  font-weight: bold;
  position: relative;
  margin-bottom: 100px;
}
.intensivos {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intensivos li {
  margin-bottom: 1rem;
}
.intensivos li:nth-child(even) {
  color: #fff;
}
.intensivos li:nth-child(odd) {
  color: #999;
  justify-self: end;
  padding-right: 150px;
}
.intensivos li:first-child {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
  text-transform: uppercase;
  justify-self: start;
}
.intensivos li:first-child:before{
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(/img/cursos.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -35px;
}
.idiomas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}
.idiomas li {
  margin-bottom: 1rem;
    color: #fff;
}
.idiomas li:first-child {
  margin-bottom: 2rem;
  text-transform: uppercase;
    color: #999;
}
.idiomas li span{
    color: #999;

}
.idiomas li:first-child:before{
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(/img/idiomas.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -35px;
}
