:root {
  --font1: 5rem;
  --fundoescuro: rgba(0, 0, 0, 0.934);
  --preto1: #000;
  --preto2: #222;
  --preto3: #333;
  --cinza1: #fff;
  --cinza2: #ddd;  
  --cinza3: #555;  
  --corteste: rgb(255, 0, 0);
}

h1,
h2,
h3,
ul,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "fira sans";
  line-height: 1.3;
}

h1 {
  font-size: 9rem;
  word-break: break-all;
  max-width: 4ch;
  line-height: 1;
  text-transform: uppercase;
}